.message{
    margin-right: 10px;
    margin-left: 10px;
    width: 400px;
    height: 20px;
}
h1{
    margin: 10px;
}
#title{
    margin: 10px;
    font-weight:bold;
    font-style: italic;
    color: rgb(70, 69, 69);

}
.checkbox-label{
   position: relative;
   top: 2px;
   left: 3px;
}
#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* text-align: center; */
    display: flex;
    align-items: center;
    justify-content: center;
   
    background-color: #efeff1;
    margin-top: 60px;
  }
  .tolistdiv{
    background-color: white;
    margin: 10px;
    width:  600px;
    border-radius: 10px;
  }
  .tolist{
      margin: 10px;
  }
  .addbutton{
     width: 70px;
     height: 25px;
     background: rgb(252, 153, 154);
     border-radius: 5px;
     color:white
  }
  .myul{
      list-style-type: demical;
  }
  li{
      
     position: relative;
     left: -10px; 
     margin:3px 0 3px 0;
     height: 30px;

  }
  .buttondiv{
      text-align: center;
  }

.bt{
   
      margin: 10px;
      color: rgb(252, 153, 154);
      border: none;
      background: white;
  }
.active{
    background: rgb(244, 236, 236);
}
.edit{
   display: none;
   margin-right: 10px;
    margin-left: 10px;
    width: 400px;
    height: 20px;
}
.editdisplay{
    display:block
}
.checkboxdisplay{
    display: none
}
.addline{
    text-decoration: line-through;
    color: #a1a1a5;
}
input[type="checkbox"]{
    width: 20px;
    height: 20px;
    display: inline-block;
    text-align:  center;
    vertical-align: middle; 
    line-height: 18px;
    position: relative;
    border-radius: 6px;
    position: relative;
    top: 2px;
    border: 1px solid #d9d9d9;
   
}
input[type="checkbox"]::before{
    content: "";
    width: 20px;
    height: 20px;
    position: relative;
    top: -1px;
    left: -1px;
    display: inline-block;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 6px;
}
input[type="checkbox"]:checked::before{
    content: "\2713";
    width: 20px;
    height: 20px;
    position: relative;
    box-shadow:0 0 9px 15px rgb(134, 180, 250) outset;
    display: inline-block;
    color:white;
    background: rgb(59,136,253);
    font-size: 20px;
    font-weight: bold;
    border-radius: 6px;
    border: 1px solid #2647b3;
    
}